.cover-image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.section-container {
  display: flex;
  justify-content: space-between;
}

.section {
  width: 33%;
  text-decoration: none;
  color: var(--colore-primario-testo);
}

.section img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .section-container {
    flex-direction: column;
  }
  .section {
    width: 100%;
  }
}