.App {
  display: block;
  text-align: center;
}

.App > * {
  margin: 48px auto;
  max-width: 1366px;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: var(--colore-primario);
  border-radius: 0 0 25px 25px;
  color: var(--colore-primario-testo);
  display: flex;
  max-width: 1366px;
  width: auto;
  margin: auto;
  justify-content: center;
}

.link {
  color: var(--colore-sfondo-testo);
}